/*CSS For Textbook App*/
body {
    background: #7c1180;
    color: #12c031
}
#bookInfoForm {
    text-align: left;
    color: black;
    padding: 20px;
    border: 20px dashed #ffffff
}
h1 {
    color: antiquewhite;
    transition: color 1s ease-in-out;
    margin: 10px 10px 10px 10px;
}
h1:hover {
    color: darksalmon;
}
h1:first-letter{
    color: lightseagreen;
}
.big{
    font-size: 1500%;
}